@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
*{
  box-sizing: border-box;
  font-family: 'mulish', 'sans-serif';
}
.card {
  margin-bottom: 1rem;
}

.list-view .row > [class*=col-] {
  max-width: 100%;
  flex: 0 0 100%;
}
.list-view .card {
  flex-direction: row;
}
@media (max-width: 575.98px) {
  .list-view .card {
    flex-direction: column;
  }
}
.list-view .card > .card-img-top {
  width: auto;
}
.list-view .card .card-body {
  display: inline-block;
}