*{
    font-family: 'mulish' , sans-serif;
    color: #000000;
}
html,body{
	width: 100%;
	height: 100%;
}
.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
}

/* i added border values to givr it the colour around fieldset */
.reset-password-field{
    margin: 5rem auto 5rem auto;
	border: 1px solid #AA6787;
    background-color: #FDFDFD;
    width: 63%;
	height: 83vh;
    padding: 4rem 5rem;
    font-weight: 600;
    display: flex;
	justify-content: center;
	align-items: center;
}
fieldset{
    width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
.textsection{
    margin-top: 30px;
}
.reset-password-form{
    font-size: 12px;
    margin: 2rem 0 0 0;
}
.reset-password-h1, .reset-password-h6{
    text-align: center;
}
.reset-password-h1{
    font-weight: 600;
    margin: 0 0 1.1rem 0;
}
.reset-password-h6{
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
}
#reset-password-submit-btn{
    margin: 2rem auto 0 auto;
    display: block;
    width: 100%;
	border: none;
    background-color: #801B4B;
    color: #FDFDFD;
    padding: 10px 0;
    border-radius: 6px;
    font-size: 14px;
	box-shadow: 8px 8px 32px #F3DBE7;
}
#reset-password-submit-btn:hover{
    background-color: #551232;
    box-shadow: 8px 8px 32px #F3DBE7
}
#reset-password-submit-btn:active{
	background: #954169;
}
#footer {
	color: #fff;
	font-size: 14px;
	background: #1A050F;;
    width: 100%;
}
#footer .footer-top {
	padding: 60px 0 30px 0;
	background: #1A050F;
}
#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
	font-size: 26px;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
	color: #ffffff;
}

#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top h4::after {
	content: "";
	position: absolute;
	display: block;
	width: 20px;
	height: 2px;
	background: #000000;
	bottom: 0;
	left: 0;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: white;
	font-size: 18px;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #aaaaaa;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #fff;
}

#footer .footer-newsletter {
	font-size: 15px;
}

#footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 5px 10px;
	position: relative;
	border-radius: 4px;
	text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #000000;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
	background: #494343;
}

#footer .credits {
	padding-top: 5px;
	font-size: 13px;
}
@media(max-width: 800px) {
	.reset-password-field{
		width: 100%;
		padding: 40px 30px;
		margin: 80px 0;
	}
	label{
		display: block;
		width: 100%;
	}

	#reset-password-submit-btn{
		display: block;
	}
}
@media (min-width: 700px) and (min-height: 1000px){
	.reset-password-field{
		display: flex;
		align-items: center;
        width: 100%;
		padding: 40px 30px;
		margin: 80px 0;
	}
}
@media (max-width: 450px){
	.reset-password-field{
		padding: 40px 30px;
		margin: 80px 0;
		width: 100%;
        display: flex;
		align-items: center;
	}
	.reset-password-h6{
		font-size: 12px;
        width: 100%;
	}
} 