<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	background-color: #f1eaed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "mulish", "sans-serif";
}
p {
	font-family: "mulish", "sans-serif";
	font-weight: 800;
=======
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;800&display=swap');
=======
>>>>>>> main

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	background-color: #f1eaed;
}
<<<<<<< HEAD
p{
  font-family: 'mulish', 'sans-serif';
>>>>>>> own
=======
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "mulish", "sans-serif";
}
p {
	font-family: "mulish", "sans-serif";
	font-weight: 800;
>>>>>>> main
}
/* about us */
.about {
	min-height: 400px;
	text-align: center;
	padding-top: 150px;
	align-content: center;
	align-items: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> main
.bout {
	font-family: Mulish;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: center;
}
.abouth2 {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	line-height: 72px;
	background: linear-gradient(90.27deg, #801b4b -1.51%, #f2b109 122.8%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-emphasis-color: transparent;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.hw {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
<<<<<<< HEAD
<<<<<<< HEAD
	/* or 143% */

=======
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
	text-align: center;
	color: #110109;
<<<<<<< HEAD

	/* Inside auto layout */

=======
	text-align: center;
	color: #110109;
>>>>>>> main
=======
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
.nbtn {
	background-color: #801b4b;
}
.logi {
	color: #801b4b;
}
.signpost {
	background-color: #f8d884;
	color: #fbfbfb;
	border-radius: 8px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  border: 1px solid #F2B109;
>>>>>>> main
=======
  border: 1px solid #F2B109;
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
}
.signpost > h6 {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #801b4b;
}
.signpost > p {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #801b4b;
}
.searchm {
	border-radius: 8px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  border: 1px solid #AA6787;
>>>>>>> main
=======
  border: 1px solid #AA6787;
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
}
.searchm > h6 {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	border-radius: 15px;
	color: #801b4b;
}
.searchm > p {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #801b4b;
}
.comp {
	background: #f8d884;
	border-radius: 8px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  border: 1px solid #F2B109;
>>>>>>> main
=======
  border: 1px solid #F2B109;
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
}
.comp > h6 {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #fbfbfb;
	color: #801b4b;
}
.comp > p {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #fbfbfb;
	color: #801b4b;
}
.team > h3 {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	line-height: 72px;
<<<<<<< HEAD
}
#footer {
	color: #fff;
	font-size: 14px;
	background: #1a050f;
=======
.About {
	background-image: url("");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
=======
>>>>>>> main
}
#footer {
	color: #fff;
	font-size: 14px;
<<<<<<< HEAD
	background: #111111;
>>>>>>> own
=======
	background: #1a050f;
>>>>>>> main
}

#footer .footer-top {
	padding: 60px 0 30px 0;
<<<<<<< HEAD
<<<<<<< HEAD
	background: #1a050f;
=======
	background: #1b1b1b;
>>>>>>> own
=======
	background: #1a050f;
>>>>>>> main
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
	font-size: 26px;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
	color: #ffffff;
}

#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
<<<<<<< HEAD
<<<<<<< HEAD
	font-family: "mulish", sans-serif;
=======
	font-family: "Raleway", sans-serif;
>>>>>>> own
=======
	font-family: "mulish", sans-serif;
>>>>>>> main
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top h4::after {
	content: "";
	position: absolute;
	display: block;
	width: 20px;
	height: 2px;
<<<<<<< HEAD
<<<<<<< HEAD
	background: #1a050f;
<<<<<<< HEAD
=======
	background: #000000;
>>>>>>> own
	bottom: 0;
=======
	background: #1a050f;
>>>>>>> main
=======
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
	left: 0;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
<<<<<<< HEAD
<<<<<<< HEAD
	color: #1a050f;
<<<<<<< HEAD
=======
	color: white;
>>>>>>> own
	font-size: 18px;
=======
	color: #1a050f;
>>>>>>> main
=======
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #aaaaaa;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #fff;
}

#footer .footer-newsletter {
	font-size: 15px;
}

#footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
<<<<<<< HEAD
<<<<<<< HEAD
	padding: 2px 5px;
<<<<<<< HEAD
=======
	padding: 5px 10px;
>>>>>>> own
	position: relative;
=======
	padding: 2px 5px;
>>>>>>> main
=======
>>>>>>> c5ab4a06a17bd4d9225d92c62369f8da586c1a10
	border-radius: 4px;
	text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
	border: 0;
<<<<<<< HEAD
<<<<<<< HEAD
	padding: 5px 8px;
	width: calc(100% - 100px);
	background: #1a050f;
=======
	padding: 4px 8px;
	width: calc(100% - 100px);
>>>>>>> own
=======
	padding: 5px 8px;
	width: calc(100% - 100px);
	background: #1a050f;
>>>>>>> main
}

#footer .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
<<<<<<< HEAD
<<<<<<< HEAD
	background: #fff;
	color: #1a050f;
=======
	background: #000000;
	color: #fff;
>>>>>>> own
=======
	background: #fff;
	color: #1a050f;
>>>>>>> main
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
<<<<<<< HEAD
<<<<<<< HEAD
	background: #1a050f;
=======
	background: #494343;
>>>>>>> own
=======
	background: #1a050f;
>>>>>>> main
}

#footer .credits {
	padding-top: 5px;
	font-size: 13px;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
/* deals */
.col-lg-3 .btn.btn-primary {
  width: 100%;
  height: 43px;
  box-shadow: none;
  outline: none;
  background-color: #67971f;
  color: white;
  font-weight: 800;
  padding: 0px 15px;
  line-height: 22px;
  border: none;
}

.col-lg-3 .btn.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.col-lg-3 .btn.btn-primary:hover {
  background-color: #aadf5a;

}

.col-lg-3 ul {
  width: 100%;
}

.col-lg-9 .btn.btn-secondary {
  width: 100%;
  height: 100% !important;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: black;
  font-weight: 800;
  padding: 0px 15px;
  line-height: 22px;
  border: none;
}


.col-lg-9 .btn.btn-primary {
  background-color: #67971f;
  border: none;
  height: 100%;
  width: 100px;
}

.col-lg-9 .btn.btn-primary:hover {
  background-color: #aadf5a;
}

.col-lg-9 ul {
  width: 100%;
}

/*new deals*/
.card {
  margin-bottom: 1rem;
}

.list-view .row > [class*=col-] {
  max-width: 100%;
  flex: 0 0 100%;
}
.list-view .card {
  flex-direction: row;
}
@media (max-width: 575.98px) {
  .list-view .card {
    flex-direction: column;
  }
}
.list-view .card > .card-img-top {
  width: auto;
}
.list-view .card .card-body {
  display: inline-block;
}

/*Top deals*/
.card {
  margin-bottom: 1rem;
}

.list-views .row > [class*=col-] {
  max-width: 100%;
  flex: 0 0 100%;
}
.list-views .card {
  flex-direction: row;
}
@media (max-width: 575.98px) {
  .list-views .card {
    flex-direction: column;
  }
}
.list-views .card > .card-img-top {
  width: auto;
}
.list-views .card .card-body {
  display: inline-block;
}

/*excluisive deals*/
.card {
  margin-bottom: 1rem;
}

.list-viewz .row > [class*=col-] {
  max-width: 100%;
  flex: 0 0 100%;
  flex-direction: column;
}
.list-viewz .card {
  flex-direction: row;
}
@media (max-width: 575.98px) {
  .list-viewz .card {
    flex-direction: column;
  }
}
.list-viewz .card > .card-img-top {
  width: auto;
}
.list-viewz .card .card-body {
  display: inline-block;
}
>>>>>>> own
=======
}
>>>>>>> main
