*{
    font-family: 'mulish' , sans-serif;
    color: #000;
}
html,body{
	width: 100%;
	height: 100%;
}

.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
}
.profile-field{
    margin: 80px auto 5rem auto;
	border: 1px solid #AA6787;
    background-color: #FDFDFD;
    width: 95%;
	height: 85vh;
    font-weight: 600;
    display: flex;
	justify-content: center;
    flex-direction: row;
    text-align: center;
}
.profile-section{
    width: 25%;
    border-right: 1px solid #AA6787;
    background-color: #FFFAED;
}
.profile-section h1{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}
.profile-section h6{
    font-size: 15px;
    margin-bottom: 15px;
}
.profile-section p{
    font-size: 13px;
}
.profile-section a{
    text-decoration: none;
    color: black;
    margin: 8px 0;
}
.profile-section a:hover{
    text-decoration: none;
    color: #6B173F;
    margin: 8px 0;
}
.profile-section a:active{
    text-decoration: none;
    color: #AA6787;
    margin: 8px 0;
}
.profile-section img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 40px;
	margin-bottom: 20px;
}
.other-profile-views{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-top: 45px;
}
#pricealert-pagelink{
    font-size: 25px;
}
.price-alert-section{
    width: 80%;
    text-align:start;
    margin: 25px 60px;
}
.price-alert-field{
	border: 1px solid #B0AAAD;
	border-radius: 8px;
	padding: 4px;
	
}
.price-alert-top{
	border-radius: 8px;
	background-color: #F6F6F6;	
	display: flex;
	flex-direction: row;
	padding: 4px;
}
.price-alert-info{
	width: 80%;
	background: #F6F6F6;
	border-radius: 5px;
	padding: 8px;
	border: #CBCBCB 1px solid;
	margin-right: 5px;
}
.price-alert-top h4{
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 5px;
}
.price-alert-top p{
	font-size: 10px;
}
.price-alert-top .price-alert-info .filter{
	font-size: 13px;
	margin: 8px 0;
}
.price-alert-top a{
	text-decoration: none;
}
.price-alert-top a span{
	margin: 0 10px;
}
.price-alert-top a:hover span{
	color: #6B173F;
}
.price-alert-top a:active span{
	color: #AA6787;
}
.price-alert-top a img{
	width: 80px;
	height: 85px;
	border: none;
	border-radius: 8px;
	margin-right: 10px;
}
.price-alert-top a:hover img{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.price-alert-condition{
	display: flex;
	justify-content: center;
	width: 23%;
	background: #F6F6F6;
	border-radius: 5px;
	padding: 10px;
	border: #CBCBCB 1px solid;
	position: relative;
}
.price-alert-condition-content {
	padding: 0 8px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.price-alert-condition .price-alert-condition-content p{
	font-size: 11.5px;
}
.price-alert-condition label{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #CBCBCB;
	font-size: 22px;
}
.price-alert-top input{
	width: 65px;
	height: 35px;
	border-radius: 5px;
	border: #CBCBCB solid 1px;
	/* margin: 5px; */
	font-size: 10px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.price-alert-top a button{
	text-decoration: none;
	width: 100%;
	background: #F2B109;
	border-radius: 8px;
	border: none;
	font-size: 13px;
	color: #FDFDFD;
	font-weight: 700;
	height: 40px;
	margin: 10px 0;
}
.price-alert-top a:hover button{
	background: #CA9308;
}
.price-alert-top a:active button{
	background: #F6CB5B;
}
.price-alert-bottom{
	
	text-align: center;
	/* padding: 4px; */
}
.price-alert-bottom p{
	height: 40px;
	margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.price-alert-bottom a button{
	/* display: block; */
	width: 100%;
	background: #801B4B;
	border-radius: 5px;
	border: none;
	font-size: 13px;
	color: #FDFDFD;
	font-weight: 700;
	height: 40px;
	margin: 0;
	/* padding: 0; */
}
.price-alert-bottom a:hover button{
	background: #6B173F;
}
.price-alert-bottom a:active button{
	background: #AA6787;
}
#footer {
	color: #fff;
	font-size: 14px;
	background: #1A050F;;
    width: 100%;
}
#footer .footer-top {
	padding: 60px 0 30px 0;
	background: #1A050F;
}
#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
	font-size: 26px;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
	color: #ffffff;
}

#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top h4::after {
	content: "";
	position: absolute;
	display: block;
	width: 20px;
	height: 2px;
	background: #000000;
	bottom: 0;
	left: 0;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: white;
	font-size: 18px;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #aaaaaa;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #fff;
}

#footer .footer-newsletter {
	font-size: 15px;
}

#footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 5px 10px;
	position: relative;
	border-radius: 4px;
	text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #000000;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
	background: #494343;
}

#footer .credits {
	padding-top: 5px;
	font-size: 13px;
}
