{% extends 'base.html' %}
{% load static %}
{% block content %}
</head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Docs</title>
 <link rel="stylesheet" href="{%static 'assets/css/style(docs).css'%}">
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
 <link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
   crossorigin="anonymous"
 />
</head>
<body style="margin: 50px;">
<br>
<br>
<br>
<br>

 <h2 class="text-center">Searching for a product</h2>

 <div class="row">
     <div class="col text-center" style="background-color: #FFFAED; margin-right: 20px; border: 1px solid #F2B109;">
         <p>Authentication</p>
         <br>
         <h3>Searching for a product</h3>
         <br>
         <p>Compare by stores</p>
         <br>
         <p>Filter options</p>
         <br>
         <p>Getting a deal</p>
         <br>
         <p>Setting price alerts</p>
         <br>
         <p>Save search history</p>
         
     </div>
     <div class="col" style="padding: 5px; margin-right: 20px;">
         <div class="bg-light" style="padding: 10px;">
             <br>
             <p>. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!</p>
         </div>
         <br>
         <div class="bg-light" style="padding: 10px;">
             <h3>Search by keyword</h3>
             <p>. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!</p>
         </div>
         <br>
         <div class="bg-light" style="padding: 10px;">
             <h3>Compare product prices</h3>
             <p>. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque id deserunt, enim voluptas ut repellendus modi aut soluta, aliquam porro laboriosam earum quasi, voluptatem reprehenderit nesciunt debitis. Doloribus, sit!</p>
         </div>
         <div class="" style="background-color:  #FFF5E9; padding: 10px;">
             <h3>Attention is needed</h3>
             <p>Info text goes here gbegu ue wphw uhp ein;evennv whu vwlkndn wtfd ydkn n gygd oiwe uhoef uefu fuwhpijijp eiuegryg wfnmskmo idhvquhf fruhru.</p>
             <a href="http://" class="text-dark">some link here</a>
         </div>
     </div>
     <div class="col bg-light" style="height: 600px;">
         <h3>Preview</h3>
         <div></div>

     </div>
 </div>
 <div class="row" id="" style="border: 1px solid #AA6787; padding: 50px; margin-top: 20px; width: 70%;">
     <div class="col">
         <h2>Was this helpful at all?</h2>
         <p>Let us know your thoughts</p>
     </div>
     <div class="col" style="padding-left: 0px;">
         <img src="{%static 'assets/images/ThumbsUp.png'%}" alt="">
         <a href="http://" class="text-dark">yes</a>
         <img src="{%static 'assets/images/ThumbsDown.png'%}" alt="">
         <a href="http://" class="text-dark">No</a>
     </div>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>

{% endblock content %}