{% extends 'base.html' %}
{% load static %}
{% block content %}
</head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Docs</title>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
 <link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
   crossorigin="anonymous"
 />
</head>
<body style="margin: 40px;">
<br>
<br>
<br>
<br>


 <div style="background-color: #FFFAED; padding: 20px; border: 1px solid #F2B109;">
     <h3>Development</h3>
     <p>versions of the software used</p>
     <p>How to install them</p>
     <!-- <a href="http://" class="text-end text-dark" >/doc/guides/authentication</a> -->
     <hr>
 </div>

 <br>
 


 <h2 style="color: #801B4B;">Guides</h2>
 <br>

 <hr>
 <div class="row">
     <div class="col" style="margin-right: 20px; margin-bottom: 20px;">
         <div class="card" style="border-color:#BF8DA5 ; padding: 15px; height: 250px;">
             <h3 style="color: #801B4B;">Authentication</h3>
             <p>Authentication process</p>
             <p>Unauthenticated user limitations</p>
             <br>
             <br>
             <br>
             <a href="http://" class="text-dark text-end" style= "padding-right: 5px;">/doc/guides/authentication</a>
         </div>
     </div>
     <div class="col">
         <div class="card" style="border-color:#BF8DA5 ; padding: 15px; height: 250px;">
             <h3 style="color: #801B4B;">Searching for a product</h3>
             <p>Search by keyword</p>
             <p>Filter categories</p>
             <p>Compare product prices</p>
             <br>
             <a href="http://" class="text-dark text-end" style="padding-top: 9px;">doc/guides/product-search</a>
         </div>
     </div>
 </div>
 <div class="row" style="margin-bottom: 5px;">
     <div class="col" style="margin-right: 20px;margin-bottom: 20px;">
         <div class="card" style="border-color:#BF8DA5 ; padding: 15px; height: 250px;">
             <h3 style="color: #801B4B;">Compare by stores</h3>
             <p>How to</p>
             <p>Visualise comparisons</p>
             <p>Search keywords within each store and compare</p>
             <a href="http://" class="text-dark text-end" style= "padding-right: 5px; padding-top: 5px;">/doc/guides/compare-by-store</a>
         </div>
     </div>
     <div class="col">
         <div class="card" style="border-color:#BF8DA5 ; padding: 15px; height: 250px;">
             <h3 style="color: #801B4B;">Filter options</h3>
             <p>By categories</p>
             <p>By price actions</p>
             <p>By store/brands</p>
             <br>
             <a href="http://" class="text-dark text-end" style= "padding-right: 5px; padding-top: 5px;">/doc/guides/filter</a>
         </div>
     </div>
 </div>
 <div class="row">
     <div class="col" style="margin-right: 20px; margin-bottom: 20px;">
         <div class="card" style="border-color:#BF8DA5 ; padding: 15px; height: 250px; ">
             <h3 style="color: #801B4B;">Setting price alerts</h3>
             <p>How to</p>
             <p>Gettin notified</p>
             <p>Redifining price alerts</p>
             <br>
             <a href="http://" class="text-dark text-end" style= "padding-right: 5px; padding-top: 5px;">/doc/guides/price-alert</a>
         </div>
     </div>
     <div class="col">
         <div class="card" style="border-color: #BF8DA5; padding: 15px; height: 250px;">
             <h3 style="color: #801B4B;">Saving your search history</h3>
             <p>How to</p>
             <p>Filter categories</p>
             <p>Compare product prices</p>
             <br>
             <a href="http://" class="text-dark text-end" style= "padding-right: 5px; padding-top: 5px;">/doc/guides/save-search</a>
         </div>
     </div>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>

{% endblock content %}