{% load static %}

{% if request.user.is_authenticated %}
<nav class="navbar  fixed-top navbar-expand-lg navbar-light "  style="background-color: #fffafa;" >
    <div class="container-fluid">
      <a class="navbar-brand " href="{% url 'home' %}" style="padding: 10px;">
        <span style="color: #801B4B;">P</span>
        <span style="color: #801B4B;">R</span>
        <span style="color: #801B4B;">I</span>
        <span style="color: #F2B109">C</span>
        <span style="color: #F2B109">E</span>
        <span style="color: black;">J</span>
        <span style="color: black;">A</span>
        <span style="color: black;">R</span>
      </a>
      <button
        class="navbar-toggler ms-auto  "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Compare by stores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Deals</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="">You are logged in</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}"><button class="btn" type="submit">Logout</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% else %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #fffafa;">
    <div class="container-fluid">
      <a class=" navbar-brand " href="{% url 'home' %}" style="padding: 10px;">
        <span style="color: #801B4B;">P</span>
        <span style="color: #801B4B;">R</span>
        <span style="color: #801B4B;">I</span>
        <span style="color: #F2B109">C</span>
        <span style="color: #F2B109">E</span>
        <span style="color: black;">J</span>
        <span style="color: black;">A</span>
        <span style="color: black;">R</span>
      </a>
      <button
        class="navbar-toggler ms-auto  "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Deals
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Stores
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a href="{% url 'login' %}"><button class="btn" type="submit" style="background: #801B4B;">Login</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">or</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}"><button class="btn" type="submit" style="color: #801B4B;">Signup</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}